<!-- Sidebar  -->
<div>
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a routerLink="/404">
            <img src="assets/images/vestido.jpg" class="img-fluid" alt="">
            <span>Flash woman</span>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-more-fill"></i></div>
                    <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul class="iq-menu">
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Dashboard</span></li>
                <li class="active">
                    <a routerLink="/perfil-cliente" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Perfil</span></a>
                </li>
                <li>
                    <a routerLink="dashboard-1.html" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>Categorias </span></a>
                </li>
                <li>
                    <a routerLink="dashboard-2.html" class="iq-waves-effect"><i
                            class="ri-briefcase-4-fill"></i><span>Promociones</span></a>
                </li>
                <li>
                    <a routerLink="dashboard-3.html" class="iq-waves-effect"><i class="ri-group-fill"></i><span>Pedidos</span></a>
                </li>
                <li>
                    <a routerLink="dashboard-4.html" class="iq-waves-effect"><i class="lab la-mendeley"></i><span>Ayuda</span><span class="badge badge-danger">New</span></a>
                </li>

            </ul>
        </nav>
        <div class="p-3"></div>
    </div>
</div>
