<div class="wrapper">
    <!-- Sidebar (puedes agregar según tu diseño) -->

    <!-- Page Content -->
    <div id="content-page" class="content-page">
        <!-- Navbar (puedes incluir tu componente navbar personalizado aquí) -->
        <app-navbar-logo></app-navbar-logo>

        <!-- Product Form -->
        <div class="container-fluid product-form">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Product Image Upload (con contenedor cuadrado y icono) -->
                    <div class="image-upload-container">
                        <label for="imagen" class="image-upload">
                            <i class="fas fa-image"></i>
                            <span>Subir imagen</span>
                        </label>
                        <input type="file" id="imagen" class="form-control-file" (change)="onFileChange($event)">
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Product Details Form -->
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" [(ngModel)]="producto.nombre">
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio:</label>
                            <input type="number" class="form-control" id="precio" [(ngModel)]="producto.precio">
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción:</label>
                            <textarea class="form-control" id="descripcion" [(ngModel)]="producto.descripcion"></textarea>
                        </div>
                        <!-- Add to Cart Button (puedes adaptar según necesites) -->
                        <button type="submit" class="btn btn-primary add-product" (click)="guardarProducto()">Guardar Producto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
