<!-- TOP Nav Bar -->
<div class="iq-top-navbar header-top-sticky">

    <div class="iq-navbar-custom">

        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <a routerLink="/dashboard/home">
                <img src="assets/images/vestido.jpg" class="img-fluid rounded" alt="user" width="90" height="90">
            </a>
            <div class="iq-search-bar">
                <form action="#" class="searchbox">
                    <input type="text" class="text search-input" placeholder="Nombre del producto o categoria...">
                    <a class="search-link" routerLink="#"><i class="ri-search-line"></i></a>
                </form>
            </div>
        </nav>

    </div>
</div>
<!-- TOP Nav Bar END -->